/* MOBILE VIEW */

@media screen and (max-width:768px) {
    * {
        box-sizing: border-box;
    }

    body {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Arial', sans-serif;

    }

.alert-info {
    background-color: #CCFFFF;
    border: 2px solid lightgray;
    width: 100%;
    text-align: center;
    padding: 1em 0;
}
.alert-info a {
    text-decoration: none;
    color: black;
}

.nav-links {
    text-align: center;
    list-style: none;
    padding: 0;
}

.nav-links li{
    background-color: lightgray;
    padding: 1em;
    margin: 10px 0;
    list-style: none;
    width: 95vw;
}

h1 {
    font-size: 3.5em;
    margin-top: 5px;
}
.main h2 {
    font-size: 2em;
}
.sub-section h2 {
    font-size: 1.5em;
}
.sub-section {
    font-style: italic;
}
footer {
    margin-right: auto;
}

.header-img {
    object-fit: contain;
}

img {
    width: 339px;
    height: 224px;
}
}

/* DESKTOP VIEW */

@media screen and (min-width:768px) {

    body {
        font-family: 'Arial', sans-serif;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 0.25fr 2.5fr 1fr .5fr;
        padding: 10px;
        text-align: center;
    }

    .nav-links {
        list-style: none;
        margin-top: 0px;
    }

    body nav {
        grid-area: 1 / 2 / 1 / 3;
    }

    .hidden-on-desktop {
        display: none;
    }

    body h1 {
        font-size: 2.5em;
        grid-area: 1 / 1 / 2 / 2;
        margin-top: 0;
        text-align: left;
    }

    body ul {
        display: flex;
        justify-content: flex-end;
    }

    body li {
        display: inline-block;
        padding: 1em;
    }
    .header-img {
        margin-left: calc(50% - 445px);
        width: 890px;
        height: auto;
        justify-content: center;
        grid-area: 2 / 1 / 3 / -1;
        object-fit: cover;

    }
    .main {
        grid-area:  3 / 1 / 4 / 2;
        text-align: left;
    }

    .sub-section {
        grid-area:  3 / 2 / 4 / 3;
        text-align: left;
        font-style: italic;
        margin-left: 1.5em;
    }

    .sub-section h2 {
        font-size: 1.25em;
    }

    footer {
        grid-area: 4 / 1 / 5 / 2;
        text-align: left;
    }

    img {
        width: 890px;
        height: 385px;
    }
}
